#lista li {
    background-color: #FEC208;
    color: #FF2D08;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 280px;
}

body{
    background-color: #FF2D08;
}

select {
    background-color: #FEC208;
    color: #FF2D08;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

}

p{
    width: auto;
    height: 10px;
    background-color: #FEC208;
}

h1{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    color: #FEC208; 
    margin-top: 10px;
    margin-bottom: 20px;
}

h2{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    color: #FEC208; 
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FF2D08; 
    background-color: #FEC208;
}

img{
    width:200px;
    margin-left: 960px;
    
}
#div1{
    width: 600px;
}
#div2{
    display: inline-flex;
}